{
  "env": {
    "test": {
      "presets": [
        "env",
        "react",
        "stage-0"
      ]
    },
    "development": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "react",
        "stage-0"
      ]
    }
  },
  "plugins": ["transform-flow-strip-types"]
}
